<mat-nav-list>
  <div class="side-bar">
    <div class="profile-card side-bar">
      <div class="header">
        <div class="side-bar--title">example@email.com</div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="my-device">My Device</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">My Energy</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">My state</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">My Goal</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">My Community</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">News</a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">Training Area</a>
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">
      Contacts
    </a>
    <a mat-list-item class="side-bar--items" routerLinkActive="list-item-active" routerLink="/">
      Leads
    </a>
  </div>
</mat-nav-list>
