/* Neutral */
$c-white: #ffffff;
$c-white--1: #f3f3f3;
$c-white--2: #fefdfd;
$c-white-darker: #f9f9f8;
$c-white-darker--1: #dfdfdf;
$c-black: #000000;
$c-dark-gray: #313030;
$c-darker-gray: #222222;
$c-light-gray: #868686;

/* Brand */
$r-brand-primary: #180203;
$r-brand-primary--1: #431D05;
$r-brand-secondary: #9C4700;
$r-brand-secondary--1: #B45F19;
$r-brand-secondary--2: #CA733A;
$r-brand-tertiary: #E2A729;
$r-brand-quaternary: #FECB31;
